body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #fff;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 2rem;
    margin: 40px;
}

header h1 {
    font-size: 1.5rem;
    margin: 0;
}

header nav a {
    text-decoration: none;
    color: #007bff;
    margin-left: 1rem;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header nav a:hover {
    text-decoration: underline;
}

.intro {
    text-align: center;
    margin: 2rem auto;
    max-width: 800px;
    padding: 0 1rem;
    border-bottom: 2px solid black;
}

.intro p {
    margin: 0.5rem 0;
    font-size: 22px;
}

.intro a {
    color: black;
    text-decoration: underline;
}

.intro a:hover {
    text-decoration: underline;
}

.projects {
    margin: 2rem auto;
    max-width: 800px;
    padding: 0 1rem;
    border-bottom: 2px solid black;
}

.projects h2 {
    font-size: 1.5rem;
    text-align: left;
    margin-bottom: 1rem;
}

.project {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding-top: 1rem;
}

.project img {
    width: 40px;
    height: 40px;
    margin-right: 1rem;
}

.project h3 {
    margin: 0;
    font-size: 1.1rem;
}

.project a {
    color: #007bff;
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
}

.project p {
    margin: 0.2rem 0 0;
    font-size: 0.9rem;
    color: #555;
}

.notes {
    margin: 2rem auto;
    max-width: 800px;
    padding: 0 1rem;
    border-bottom: 2px solid black;
    ;
}

.notes h2 {
    font-size: 1.5rem;
    text-align: left;
    margin-bottom: 1rem;
}

.note {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding-top: 1rem;
}

.note img {
    width: 40px;
    height: 40px;
    margin-right: 1rem;
}

.note h3 {
    margin: 0;
    font-size: 1.1rem;
}

.note a {
    color: black;
    text-decoration: underline;
}

.note a:hover {
    text-decoration: underline;
}

.note p {
    margin: 0.2rem 0 0;
    font-size: 0.9rem;
    color: #555;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 2rem;
    margin: 40px;
}

footer h1 {
    font-size: 1.5rem;
    margin: 0;
}

footer nav a {
    text-decoration: none;
    color: #007bff;
    margin-left: 1rem;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}