* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.grid-container {
    display: grid;
    grid-template-areas:
        "H H A A A"
        "H H I I S"
        "F F I I C";
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    width: 80%;
    height: 60%;
}

.box {
    border: 2px solid #ccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.box1 {
    background-color: #f28b82;
    grid-area: H;
    text-align:start;
}

.box2 {
    background-color: #aecbfa;
    grid-area: A;
}

.box3 {
    background-color: #aecbfa;
    grid-area: I;
}

.box4 {
    background-color: #f28b82;
    grid-area: F;
}

.box5 {
    background-color: #fde293;
    grid-area: S;
}

.box6 {
    background-color: #f28b82;
    grid-area: C;
}